.board {
    background-color: #84c0fd;
    width: 500px;
    height: 500px;
    position: relative;
    
    .score {
        position: absolute;
        bottom: 100%;
        left: 0;
        color: white;
    }

    .death {
        position: absolute;
        bottom: 100%;
        right: 0;
        color: white;
    }
}

.pause {
    background-color: #3f71a4a5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    user-select: none;

    span {
        color: white;
        font-size: 50px;
    }
}